# Set up the environment for the project for direnv
# direnv: https://direnv.net/

# Add the vendor/bin directory to the PATH, to support drush.
layout php

# Start the default devShell.
use flake
watch_file .env
