# Set up the environment for the project for direnv
# direnv: https://direnv.net/

# Add the vendor/bin directory to the PATH, to support drush.
export PATH=${PWD}/vendor/bin:$PATH

# Start the default devShell.
use flake
dot_env
